# Inheritance

In [2]:
class Parent:
    def fun1(self):
        print('1st function')
p = Parent()
p.fun1()

1st function

In [5]:
class Parent:
    def fun1(self):
        print('1st function')
        
class Child(Parent):
    def fun2(self):
        print('2nd function')
        
c = Child()
c.fun1()
c.fun2()

1st function
2nd function

In [9]:
class Parent:
    def fun1(self):
        print('1st function')
        
class Child(Parent):
    def fun2(self):
        print('2nd function')
        
class Child2(Child):
    def fun3(self):
        print('3rd Function')
    
a = Child2()
a.fun1()
a.fun2()
a.fun3()

1st function
2nd function
3rd Function

In [40]:
class Sports:
    def __init__(self,sports_name):
        self.sports_name = sports_name
        
    def display_sports(self):
        print('The type of sports :' , self.sports_name)
        
class Details(Sports):
    def __init__(self,sports_name,player_name,player_age):
        super().__init__(sports_name)
        self.player_name = player_name
        self.player_age = player_age
        
    def full_details(self):
        print('Type of sport :' , self.sports_name)
        print('player_name :', self.player_name)
        print('player age :' , self.player_age)
    
obj = Details('Cricket','Virat Kohli',30)
obj.full_details()

Type of sport : Cricket
player_name : Virat Kohli
player age : 30

# In Inheritance Parent class can be called from child class

# Polymorphism

In [52]:
class Cricket:
    def __init__(self,player,age):
        self.player = player
        self.age = age
        
    def player_name(self):
        #self.player = 'Virat Kohli'
        print('Name of the Player :', self.player)
        
    def player_age(self):
        #self.age = 30
        print('Age of the Player :' , self.age)
        
class Football:
    def __init__(self,player,age):
        self.player = player
        self.age = age
        
    def player_name(self):
        #self.player = 'Ronaldo'
        print('Name of the Player :', self.player)
        
    def player_age(self):
        #self.age = 35
        print('Age of the Player :' , self.age)  
        
obj_1 = Cricket('Virat Kohli',30)
obj_2 = Football('Ronaldo',35)

def fun(obj):
    obj.player_name()
    obj.player_age()
    
fun(obj_1)
fun(obj_2)

Name of the Player : Virat Kohli
Age of the Player : 30
Name of the Player : Ronaldo
Age of the Player : 35

# In Polymorphism multiple class with same functions can be called using common function

# Encapsulation

In [64]:
class Player:
    def __init__(self):
        self.__player_age = 32
        
    def current_age(self):
        print('Current Age of player :' , self.__player_age)
        
    def retired_age(self,age):
        self.__player_age = age

obj1 = Player()
obj1.current_age()

obj1.__player_age = 40
obj1.current_age()

obj1.retired_age(45)
obj1.current_age()

Current Age of player : 32
Current Age of player : 32
Current Age of player : 45

# In Encapsulation the input value cannot changed out the Class

# For Loop and While Loop

In [103]:
list_1 = [30,10,20,25,30,5,55,15,40,50]

In [112]:
sum = 0
for i in list_1:
    sum = sum + i
print(sum)

280

In [111]:
i = 0
res = 0
while i < len(list_1):
    res += list_1[i]
    i += 1
print(res)

280

# Break and Continue

In [85]:
list_1 = [30,10,20,25,30,5,55,15,40,50]

In [87]:
for x in list_1:
    if x == 5:
        break
    print(x)
print('Number 5 in list and loop gets stopped')

30
10
20
25
30
Number 5 in list and loop gets stopped

In [89]:
for x in list_1:
    if x == 5:
        continue
    print(x)
print('Number 5 in list but loop gets continued')

30
10
20
25
30
55
15
40
50
Number 5 in list but loop gets continued

# Positional Arguements

In [120]:
def cube_sum(x,y):
    cube_x = x*x*x
    cube_y = y*y*y
    total = cube_x + cube_y
    return total

In [121]:
cube_sum(5,10)

1125

# In Positional Arguements When we change the position of x and y values then the output will be different for other scenarios

# Keyword Arguements

In [125]:
def string_concatination(x,y):
    out = str(y) + ' ' + str(x)
    return out

In [126]:
string_concatination(x = 'Kohli',y = 'Virat')

'Virat Kohli'

# In keyword when we change the position also it does not affect the output because the keywords are stored for particular variables

# Default Arguements

In [128]:
def multiplication(x , y = 10):
    ans = x * y
    return ans

In [129]:
multiplication(5)

50

In [130]:
multiplication(10,20)

200

In [131]:
multiplication(x = 4 , y = 5)

20

# Default is the combination of both positional and keyword arguements

# Variable Length arguements

In [155]:
def var_len_arg(x , y , *args):
    print('The First value in list :', x)
    print('The Second value in list :' , y)
    #print('Rest of the values ')    
    for i in args:
        
        print(i,end = ' ')
    print('    =    Rest of the values ')

In [156]:
var_len_arg(15,30,45,60,75,90)

The First value in list : 15
The Second value in list : 30
45 60 75 90     =    Rest of the values

# In Built Functions

In [157]:
list_1 = [30,10,20,25,30,5,55,15,40,50]

# 1. max

In [159]:
max(list_1)

55

# 2.Min

In [160]:
min(list_1)

5

# 3.Enumerate

In [167]:
for i in enumerate(list_1):
    print(i)

(0, 30)
(1, 10)
(2, 20)
(3, 25)
(4, 30)
(5, 5)
(6, 55)
(7, 15)
(8, 40)
(9, 50)

# 4.Length

In [168]:
len(list_1)

10

# 5.Frozen set

In [170]:
frozen_list = frozenset(list_1)
frozen_list

frozenset({5, 10, 15, 20, 25, 30, 40, 50, 55})

# These values cannot be changed , it is immutuable

# 6.Reversed

In [185]:
prime_numbers = [2, 3, 5, 7]
prime_numbers.reverse()
prime_numbers

[7, 5, 3, 2]

# Is Instance

In [189]:
prime_numbers = [2, 3, 5, 7]
isinstance(prime_numbers,list)

True

# 8. Is Subclass

In [191]:
class Parent:
    def fun1(self):
        print('1st function')
        
class Child(Parent):
    def fun2(self):
        print('2nd function')
        
class Child2(Child):
    def fun3(self):
        print('3rd Function')

In [192]:
issubclass(Child,Parent)

True

In [194]:
issubclass(Child,Child2)

False

In [195]:
issubclass(Child2,Parent)

True

# 9. Zip

In [1]:
l_1 = [0,1,2,3]
l_2 = ['orange','apple','grapes','pine']

In [13]:
print(list(zip(l_1,l_2)))

[(0, 'orange'), (1, 'apple'), (2, 'grapes'), (3, 'pine')]

# 10.Divmod

In [14]:
divmod(50,10)

(5, 0)

It gives the quotient and remainder

# 11.Any

In [19]:
any([1,0,0,0,0])

True

In [18]:
any([0,0,0,0])

False

In [20]:
any([1,1,1,1,1,])

True

# 12.All

In [21]:
all([0,1,0,0,1])

False

In [23]:
all([1,1,1,1])

True

In [24]:
all([0,0,0,0,0])

False

# Error Execption

# Value Error

In [31]:
try:
    x = int(input('Enter the Digit :'))
    out = x * x
    print(out)
except ValueError:
    print('Enter the valid Digit')

Enter the Digit :f
Enter the valid Digit

In [32]:
try:
    x = int(input('Enter the Digit :'))
    out = x * x
    print(out)
except ValueError:
    print('Enter the valid Digit')

Enter the Digit :6
36

# Zero Division Error

In [33]:
try:
    x = int(input('Enter the Digit :'))
    y = int(input('Enter the Digit non zero :'))
    div = x / y
    print(div)
except ZeroDivisionError:
    print('Enter the Non Zero Digit')

Enter the Digit :50
Enter the Digit non zero :10
5.0

In [34]:
try:
    x = int(input('Enter the Digit :'))
    y = int(input('Enter the Digit non zero :'))
    div = x / y
    print(div)
except ZeroDivisionError:
    print('Enter the Non Zero Digit')

Enter the Digit :10
Enter the Digit non zero :0
Enter the Non Zero Digit

# Syntax error

In [71]:
try:
    eval('x===x')
except SyntaxError:
    print("Check the Syntax")

Check the Syntax

# Assertion Error

In [74]:
try:  
    a = 100
    b = "Vimal"
    assert a == b
except AssertionError:  
        print ("Assertion Error Occured")

Assertion Error Occured

# Name Error

In [82]:
try:  
    a = 100
    b = "Vimal"
    c = a + b
    print(c)
except TypeError:  
        print ("Enter the Proper type of Input")

Enter the Proper type of Input

In [83]:
try:  
    a = 100
    b = 15
    c = a + b
    print(c)
except TypeError:  
        print ("Enter the Proper type of Input")

115

# Lookup Error

In [78]:
try:
    a = {1:'a', 2:'b', 3:'c',4:'d',5:'e'}  
    print (a[4])  
    
except LookupError:
    print('Check the Range of Index')

d

In [79]:
try:
    a = {1:'a', 2:'b', 3:'c',4:'d',5:'e'}  
    print (a[7])  
    
except LookupError:
    print('Check the Range of Index')

Check the Range of Index

In [81]:
try:
    print(vimal)
except NameError:
    print('Enter the Valid string')

Enter the Valid string